# Exercise: Python Variables

In [ ]:
break = 2 #break is a keyword

In [ ]:
birth_year= int(input())
current_year = int(input())
print(current_year-birth_year)

In [ ]:
first = input()
middle = input()
last = input()
print(first + " "+middle +" " +last)

In [ ]:
_nation =1
# 1record = 2   #number shouldn't come first
record1 = 3
record_one = 4
# record-one =5 # cannot assign to operator
# record^one = 6 # cannot assign to operator

#continue = 7  # #break is a keyword

# Exercise: Numbers in python

In [ ]:
length=92
wide=48.8
total_area= length *wide
print(total_area)

In [ ]:
p=9
cost = 1.49
print(20-(p * cost))

In [ ]:
sq=5.5 ** 5.5
print(sq * 500)

In [ ]:
print("{0:b}".format(int(17)))

# Exercise: String in Python

In [ ]:
street = "ndp"
city = "vizag"
country = "india"
print(street,end=" ")
print(city,end=" ")
print(country)

print(f'{street, city, country}')

In [ ]:
a =  "Earth revolves around the sun"
print(a[6:14])
print(a[-1:3])

In [ ]:
x = input()
y=input()
print("i eat",f'{x} "and"f{y} "veggies everyday")

In [ ]:
s='maine 200 banana khaye'
r='maine 10 samosa khaye'
print(s.replace(r))

# Python Lists

In [ ]:
month=['jan':2200,'feb':2350,'march':2600,'april':2130,'may':2190]
res=month[0]-month[1]

In [ ]:
month=[2200,2350,2600,2130,2190]
month[1]-month[0]

In [ ]:
s=0
for i in range(3):
    s+=month[i]
print(s)

In [ ]:
2000 in month

In [ ]:
a=1980
month.append(a)
month

In [ ]:
res=month[3]
month[3]=res+200
print(month)

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america'] 
print('length',len(heros))

In [ ]:
a='black panther'
heros.append(a)
heros.insert(-1,'hulk')

In [ ]:
heros

In [ ]:
heros[1:3]=['doctor strange']
heros

In [ ]:
heros

In [ ]:
dir(heros)

In [ ]:
heros.sort()
print(heros)

# Python If Condition

In [ ]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
user=input()
if user in india:
    print(f"{user}in inda")
if user in pakistan:
    print(user, "in pakistan")
if user in bangladesh:
    print(user ,"in bangladesh")

In [ ]:
user_1=input()
user_2=input()
if user_1 and user_2  in pakistan:
    print(user_2,user_1 ,"in pakistan")
elif user_1 and user_2 in india:
    print(user_1,user_2 ,"in inda")
    
elif user_1 and user_2 in bangladesh:    
    print(user_1,user_2  ,"in bangladesh")
else:
    print("They don't belong to same country")

In [ ]:
user=int(input('enter his fasting sugar level:'))
if user in range(80,100):
    print('normal')
elif user>100:
    print('high')
else:
    print('low')

# Python for loop

In [ ]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
result.count('heads')

In [ ]:
re=[]
for i in range(1,10):
    r=i*i
    if r%2!=0:
        re.append(r)
print(re)

In [4]:
expense_list = [2340, 2500, 2100, 3100, 2980]
month=['jan','feb','mar','apr','may']
user=int(input(f'{expense_list} chossese from list:'))
if user in expense_list:
    j=expense_list.index(user)
    print(month[j])
else:
    pass

[2340, 2500, 2100, 3100, 2980] chossese from list:10

In [30]:
for i in range(6):
    if i>=1:
        user=input("are you tired say yes or no:")
        if user=='yes':
            print("you didn't finish the race")
            break
        elif i==5:
            print("congratulations")
        else:
            print(f'you completed {i}')

are you tired say yes or no:no
you completed 2
are you tired say yes or no:no
you completed 3
are you tired say yes or no:no
you completed 4
are you tired say yes or no:no
you completed 5
are you tired say yes or no:no
congratulations

In [1]:
for i in range(int(input())):
    s=0
    for i in range(int(input())):
        d,n=map(int,input().split())
        s+=d*n
    while(s>9):
        r=0
        r=s%10
        s+=r
#         res=(i for i in s)
#         sum((val[int(i)] for i in input()))

print(s)

2
2
2 0
9 2

KeyboardInterrupt:

In [29]:

for i in range(1,6):
    s=''
    for j in range(i):
        s+='apple'
    print(s)

apple
appleapple
appleappleoapple
appleappleoappleapple
appleappleoappleappleapple

# Functions in python

In [40]:
def area(height,base):
    area = (1/2)*base*height
    return area
def rect(length,width):
    area=length*width
    return rect
h=int(input("base:"))
b=int(input("height:"))
l=int(input("length:"))
w=int(input("width:"))
area(b,h)
rect(l,w)

base:2
height:3
length:4
width:5

In [44]:
def pat(i):
    for i in range(i):
        s=''
        for j in range(i):
            s+='*'
            print(s)
            
user=int(input())
pat(user)

4
*
*
**
*
**
***

In [8]:
tab={"china":143,"india":136,"usa":32,"pakistan":21}
user=input()
if user=='print':
    print(tab)
elif user=='add':
    m=input()
    if m in tab:
        print("already exist")
    tab.add(m)
elif user=='remove':
    m=input()
    if m in tab:
        tab.drop(m)
else:
    print("what do youu want")

print
{'china': 143, 'india': 136, 'usa': 32, 'pakistan': 21}

In [ ]:
def binaryToDecimal(binary):
    decimal, i = 0, 0
    while(binary != 0):
    dec = binary % 10
    decimal = decimal + dec * pow(2, i)
    binary = binary//10
    i += 1
    print(decimal)


# Driver code
if __name__ == '__main__':
	binaryToDecimal(100)
	binaryToDecimal(101)
	binaryToDecimal(1001)

# Exercise: Python Read Write File

In [22]:
f= open('C:\Users\Manjuprasad\Desktop\poem.txt','r')
readline(f)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3759295307.py, line 1)