In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv(r'D:\ml\project\Titanic.csv')
df.head()

      sex   age  sibsp  parch     fare embarked  class    who  alone  survived
0    male  22.0      1      0   7.2500        S  Third    man  False         0
1  female  38.0      1      0  71.2833        C  First  woman  False         1
2  female  26.0      0      0   7.9250        S  Third  woman   True         1
3  female  35.0      1      0  53.1000        S  First  woman  False         1
4    male  35.0      0      0   8.0500        S  Third    man   True         0

In [2]:
df.describe()

              age       sibsp       parch        fare    survived
count  714.000000  891.000000  891.000000  891.000000  891.000000
mean    29.699118    0.523008    0.381594   32.204208    0.383838
std     14.526497    1.102743    0.806057   49.693429    0.486592
min      0.420000    0.000000    0.000000    0.000000    0.000000
25%     20.125000    0.000000    0.000000    7.910400    0.000000
50%     28.000000    0.000000    0.000000   14.454200    0.000000
75%     38.000000    1.000000    0.000000   31.000000    1.000000
max     80.000000    8.000000    6.000000  512.329200    1.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       891 non-null    object
 1   age       714 non-null    float64
 2   sibsp     891 non-null    int64
 3   parch     891 non-null    int64
 4   fare      891 non-null    float64
 5   embarked  889 non-null    object
 6   class     891 non-null    object
 7   who       891 non-null    object
 8   alone     891 non-null    bool
 9   survived  891 non-null    int64
dtypes: bool(1), float64(2), int64(3), object(4)
memory usage: 63.6+ KB

In [4]:
df.isnull().sum()

sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
class         0
who           0
alone         0
survived      0
dtype: int64

In [5]:
df['age'].max()

80.0

In [6]:
df['age'].fillna(29,inplace=True)
df.isnull().sum()

sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    2
class       0
who         0
alone       0
survived    0
dtype: int64

In [7]:
df = df.dropna(subset=['embarked'])
df.isnull().sum()

sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
class       0
who         0
alone       0
survived    0
dtype: int64

In [8]:
target = df.survived

In [9]:
col = ['sibsp', 'parch', 'who', 'embarked']
df = df.drop(columns=col)

In [10]:
df.sex = df.sex.map({'male':1, 'female':2})
df['sex'] = df['sex'].astype(float)

In [11]:
df['class'] = df["class"].map({'First':1, 'Second':2, 'Third':3 })
df['class'] = df['class'].astype(float)

In [12]:
ip = df.drop('survived',axis = 'columns')

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(ip,target,test_size =0.2)

In [14]:
len(x_train)

711

In [15]:
print(x_train)

     sex   age      fare  class  alone
325  2.0  36.0  135.6333    1.0   True
196  1.0  29.0    7.7500    3.0   True
623  1.0  21.0    7.8542    3.0   True
526  2.0  50.0   10.5000    2.0   True
786  2.0  18.0    7.4958    3.0   True
..   ...   ...       ...    ...    ...
319  2.0  40.0  134.5000    1.0  False
701  1.0  35.0   26.2875    1.0   True
796  2.0  49.0   25.9292    1.0   True
665  1.0  32.0   73.5000    2.0  False
569  1.0  32.0    7.8542    3.0   True

[711 rows x 5 columns]

In [16]:
print(x_test)

     sex   age      fare  class  alone
783  1.0  29.0   23.4500    3.0  False
222  1.0  51.0    8.0500    3.0   True
133  2.0  29.0   26.0000    2.0  False
290  2.0  26.0   78.8500    1.0   True
883  1.0  28.0   10.5000    2.0   True
..   ...   ...       ...    ...    ...
839  1.0  29.0   29.7000    1.0   True
318  2.0  31.0  164.8667    1.0  False
524  1.0  29.0    7.2292    3.0   True
608  2.0  22.0   41.5792    2.0  False
1    2.0  38.0   71.2833    1.0  False

[178 rows x 5 columns]

In [17]:
print(y_train)

325    1
196    0
623    0
526    1
786    1
      ..
319    1
701    1
796    1
665    0
569    1
Name: survived, Length: 711, dtype: int64

In [18]:
print(y_test)

783    0
222    0
133    1
290    1
883    0
      ..
839    1
318    1
524    0
608    1
1      1
Name: survived, Length: 178, dtype: int64

In [19]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [20]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [21]:
model.score(x_test, y_test)

0.702247191011236

In [22]:
model.predict([[1.0, 29.0,   13.8625,    2.0,   True]])

array([0], dtype=int64)

In [23]:
model.predict([[1.0 ,33.0,  12.2750,    2.0,   True]])

array([0], dtype=int64)

In [24]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [25]:
model.fit(x_train, y_train)

LogisticRegression()

In [26]:
model.score(x_test,y_test)

0.7471910112359551

In [28]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [29]:
model.fit(x_train, y_train)

LinearRegression()

In [30]:
model.score(x_test, y_test)

0.25350855677597073